# host[:port]|jdk|system|docker|python
vault.admin.johnson.int|1|0|0|1
admin.dettonville.int|1|0|0|1
media.johnson.int|1|0|0|1
pypi.python.org|1|0|0|1
files.pythonhosted.org|1|0|0|1
bootstrap.pypa.io|1|0|0|1
galaxy.ansible.com|1|0|0|1
## maven repos
repo.maven.apache.org|1|0|0|1
repo.jenkins-ci.org|1|0|0|1
