*/packer_cache/*
packer_cache/*
!packer_cache/.gitkeep
iso/*
*.iso
*/output-virtualbox-iso/*
*.box
*.ovf
*.vmdk
*.vdi
.vagrant/*
.DS_Store
.vscode/
output-*
private_vars.json
*.variables.json
Vagrantfile
venv/

.bundle/
virtualfloppy.vfd
/packer-*/
/builds/
.kitchen
.kitchen.yml
Gemfile.lock
Berksfile.lock
*.log

save/
.idea/
.DS_Store
